{% extends 'base.html' %}

{% block title %}
About
{% endblock  %}
{% block body %}
<div class="container-xl">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h2>About Us</h2>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class=""></li>
          <li data-target="#myCarousel" data-slide-to="1" class=""></li>
          <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
        </ol>

        <div class="carousel-inner">
          <div class="carousel-item">
            <div class="img-box"><img src="https://avatars.mds.yandex.net/i?id=8cfa2519767e000fbb44306314adcee45c011580-8496879-images-thumbs&amp;n=13" alt=""></div>
            <p class="testimonial">A backend developer is a specialist who deals with the server side of websites, mobile and desktop applications and games. It implements the internal logic of the application, ensures its interaction with databases and external services.</p>
            <p class="overview"><b>Zhaslan Kaukin</b>, Backend Developer</p>
          </div>
          <div class="carousel-item active carousel-item-left">
            <div class="img-box"><img src="https://avatars.mds.yandex.net/i?id=87d71ab0564ce3d861475c0576e70623-5667262-images-thumbs&amp;n=13" alt=""></div>
            <p class="testimonial">A frontend developer is a specialist who creates user interfaces. He is responsible for the entire external part of the site or application with which people interact: menus, product cards in the online store, buttons, feedback forms. Thanks to the high-quality work of the frontend developer, fast and convenient sites appear.</p>
            <p class="overview"><b>Duman Nurdaulet</b>, Web Developer</p>
          </div>
          <div class="carousel-item carousel-item-next carousel-item-left">
            <div class="img-box"><img src="https://avatars.mds.yandex.net/i?id=3b0ad79ebd1cb836159aaf4e93ce3e1d2632fcc0-7886515-images-thumbs&amp;n=13" alt=""></div>
            <p class="testimonial">This is a relatively young, dynamically developing profession. A web designer uses markup, special programs and programming languages, designs the logical structure of web pages to create a user-friendly interface and is engaged in its artistic design.</p>
            <p class="overview"><b>Khissamiden Ayan</b>, Designer</p>
          </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
          <i class="fa fa-angle-left"></i>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
          <i class="fa fa-angle-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>
     <script>$(window).on('load',function () {
     var current = location.pathname;
     console.log(current);
     $('#navbarSupportedContent ul li a').each(function(){
         var $this = $(this);
         // if the current path is like this link, make it active
         if($this.attr('href').indexOf(current) !== -1){
             $this.parent().addClass('active');
             $this.parents('.menu-submenu').addClass('show-dropdown');
            $this.parents('.menu-submenu').parent().addClass('active');
         }else{
             $this.parent().removeClass('active');
         }
   })
 });</script>
{% endblock  %}
