<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>{% block title %}{% endblock  %}</title>

</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img src="https://moodle.astanait.edu.kz/pluginfile.php/1/core_admin/logocompact/300x300/1677736259/logo%20AITU%28imageonly%29.png" class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></img>
        <span class="fs-4">AITUgram</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/posts" class="nav-link">Posts</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
          {% if session.authenticated %}
              <a href="/create" class="nav-link active" aria-current="page">Add new post</a>
              <li class="nav-item"><a href="/logout" class="nav-link active" aria-current="page">Log out</a></li>
           {% else %}
              <li class="nav-item"><a href="/login" class="nav-link active" aria-current="page">Login</a></li>
              <li class="nav-item"><a href="/register" class="nav-link active" aria-current="page">Register</a></li>
          {% endif%}
      </ul>
    </header>
  </div>
       {% block body %}{% endblock  %}
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="24" height="19">
        <small class="d-block mb-3 text-body-secondary" _msttexthash="1859377" _msthash="46">© 2017–2023 гг.</small>
      </div>
      <div class="col-6 col-md">
        <h5 _msttexthash="984971" _msthash="47">Функции</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#" _msttexthash="2381600" _msthash="48">Классная штука</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#" _msttexthash="3278431" _msthash="49">Случайная функция</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#" _msttexthash="2834923" _msthash="50">Функция «Команда»</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#" _msttexthash="6244706" _msthash="51">Материал для разработчиков</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#" _msttexthash="982085" _msthash="52">Еще один</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#" _msttexthash="1858090" _msthash="53">В прошлый раз</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5 _msttexthash="988546" _msthash="54">Ресурсы</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#" _msttexthash="802815" _msthash="55">Ресурс</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#" _msttexthash="1620216" _msthash="56">Имя ресурса</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#" _msttexthash="2381314" _msthash="57">Еще один ресурс</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#" _msttexthash="2667782" _msthash="58">Конечный ресурс</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5 _msttexthash="631592" _msthash="59">Около</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#" _msttexthash="978861" _msthash="60">Команда</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#" _msttexthash="2957227" _msthash="61">Местонахождения</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#" _msttexthash="3938324" _msthash="62">Конфиденциальность</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#" _msttexthash="985985" _msthash="63">Условия</a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>