{% extends 'base.html' %}

{% block title %}
Creating
{% endblock  %}

{% block body %}
<div class="container mt-5">
<h1>Add new post</h1>
<form method="post" class="form-control", enctype="multipart/form-data">
   {{ form.hidden_tag() }}
        <div>
            {{ form.title.label }}
            {{ form.title }}
        </div>
        <div>
            {{ form.text.label }}
            {{ form.text }}
        </div>
        <div>
            {{ form.image.label }}
            {{ form.image }}
        </div>
        <div>
            {{ form.submit }}
        </div>
</form>
</div>
    <script>$(window).on('load',function () {
     var current = location.pathname;
     console.log(current);
     $('#navbarSupportedContent ul li a').each(function(){
         var $this = $(this);
         // if the current path is like this link, make it active
         if($this.attr('href').indexOf(current) !== -1){
             $this.parent().addClass('active');
             $this.parents('.menu-submenu').addClass('show-dropdown');
            $this.parents('.menu-submenu').parent().addClass('active');
         }else{
             $this.parent().removeClass('active');
         }
   })
 });</script>
{% endblock  %}
