{% extends 'base.html' %}

{% block title %}
Creating
{% endblock  %}

{% block body %}
<div class="container mt-5">
<h1>Add new post</h1>
<form method="post" class="form-control", enctype="multipart/form-data">
   {{ form.hidden_tag() }}
        <div>
            {{ form.title.label }}
            {{ form.title }}
        </div>
        <div>
            {{ form.text.label }}
            {{ form.text }}
        </div>
        <div>
            {{ form.image.label }}
            {{ form.image }}
        </div>
        <div>
            {{ form.submit }}
        </div>
</form>
</div>
{% endblock  %}
