{% extends 'base.html' %}

{% block title %}
Friends
{% endblock  %}
{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/friends.css')}}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}


{% block body %}
<div class="container mt-5">
    <h1>All friends</h1>

    {% for friendship in friendships %}
    <div class="alert alert-info">
        <h4>
            {% if friendship.user_id == user.id %}
                {{ friendship.friend_rel.name }}
                <form id="removeFriendForm_{{ friendship.friend_rel.id }}" method="post" action="{{ url_for('remove_friend', friend_id=friendship.id) }}">
                    <input type="submit" class="btn btn-danger" value="Remove Friend">
                </form>
                <form method="get" action="{{ url_for('chat', receiver_id=friendship.friend_rel.id) }}">
                    <input type="submit" class="btn btn-primary" value="Send Message">
                </form>
            {% else %}
                {{ friendship.user_rel.name }}
                <form id="removeFriendForm_{{ friendship.user_rel.id }}" method="post" action="{{ url_for('remove_friend', friend_id=friendship.id) }}">
                    <input type="submit" class="btn btn-danger" value="Remove Friend">
                </form>
                <form method="get" action="{{ url_for('chat', receiver_id=friendship.user_rel.id) }}">
                    <input type="submit" class="btn btn-primary" value="Send Message">
                </form>
            {% endif %}
        </h4>
        <p><b>Date adding: {{ friendship.date_added.date() }}</b></p>
    </div>
{% endfor %}
     <div class="alert alert-info">
         <form method="post" action="{{ url_for('add_friend') }}">
            <input type="text" name="friend_username" id="friend_username" class="form-control" placeholder="Input friend username">
            <input type="submit" class="btn btn-warning" value="Send friendship">
         </form>
     </div>
</div>

<div class="container">
 {% for friendship in friendships %}
    <div class="row">
        <div class="col-md-8">
            <div class="people-nearby">

              <div class="nearby-user">
                <div class="row">
                  <div class="col-md-2 col-sm-2">
                    <img src="{{ friendship.friend_rel.profile_image }}" alt="user" class="profile-photo-lg">
                  </div>
                  <div class="col-md-7 col-sm-7">
                      {% if friendship.user_id == user.id %}
                    <h5><a href="{{ url_for('user_page', current_user_id=friendship.friend_rel.id) }}" class="profile-link">{{ friendship.friend_rel.name }}</a></h5>
                  </div>
                  <div class="col-md-3 col-sm-3">
                   <form id="removeFriendForm_{{ friendship.friend_rel.id }}" method="post" action="{{ url_for('remove_friend', friend_id=friendship.id) }}">
                    <input type="submit" class="btn btn-danger" value="Remove Friend">
                </form>
                <form method="get" action="{{ url_for('chat', receiver_id=friendship.friend_rel.id) }}">
                    <input type="submit" class="btn btn-primary" value="Send Message">
                </form>
                      {% else %}
                {{ friendship.user_rel.name }}
                <form id="removeFriendForm_{{ friendship.user_rel.id }}" method="post" action="{{ url_for('remove_friend', friend_id=friendship.id) }}">
                    <input type="submit" class="btn btn-danger" value="Remove Friend">
                </form>
                <form method="get" action="{{ url_for('chat', receiver_id=friendship.user_rel.id) }}">
                    <input type="submit" class="btn btn-primary" value="Send Message">
                </form>
            {% endif %}
        </h4>
        <p><b>Date adding: {{ friendship.date_added.date() }}</b></p>
                  {% endfor %}
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<script>$(window).on('load',function () {
     var current = location.pathname;
     console.log(current);
     $('#navbarSupportedContent ul li a').each(function(){
         var $this = $(this);
         // if the current path is like this link, make it active
         if($this.attr('href').indexOf(current) !== -1){
             $this.parent().addClass('active');
             $this.parents('.menu-submenu').addClass('show-dropdown');
            $this.parents('.menu-submenu').parent().addClass('active');
         }else{
             $this.parent().removeClass('active');
         }
   })
 });</script>

    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-info">
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}

{% endblock  %}
