{% extends 'base.html' %}

{% block title %}
Friends
{% endblock  %}


{% block body %}
<div class="container mt-5">
    <h1>All friends</h1>

    {% for friendship in friendships %}
    <div class="alert alert-info">
        <h4>
            {% if friendship.user_id == user.id %}
                {{ friendship.friend_rel.name }}
            {% else %}
                {{ friendship.user_rel.name }}
            {% endif %}
        </h4>
        <p><b>Date adding: {{friendship.date_added.date() }}</b></p>
    </div>
    {% endfor %}
     <div class="alert alert-info">
         <form method="post" action="{{ url_for('add_friend') }}">
            <input type="text" name="friend_username" id="friend_username" class="form-control" placeholder="Input friend username">
            <input type="submit" class="btn btn-warning" value="Send friendship">
         </form>
     </div>
</div>

{% endblock  %}