{% extends 'base.html' %}

{% block title %}
Log in
{% endblock  %}

{% block body %}
    <body class="text-center">
<div class="container">
<main class="form-signin" class="form-control">
  <form method="post">
    <h1 class="h3 mb-3 fw-normal" _msttexthash="6905093" _msthash="1">Please log in</h1>

    <div class="form-floating">
      <input type="text" name="username" class="form-control" id="username" placeholder="Username" _mstplaceholder="299455" _msthash="2" wfd-id="id0">
      <label for="username" _msttexthash="5042284" _msthash="3"Username></label>
    </div>
    <div class="form-floating">
      <input type="password" name="password1" class="form-control" id="password1" placeholder="Password" _mstplaceholder="117572" _msthash="4" wfd-id="id1">
      <label for="floatingPassword" _msttexthash="802438" _msthash="5">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" name="remember"  wfd-id="id2" {% if request.cookies.get('remember_me') %}checked{% endif %}>
          <font _mstmutation="1" _msttexthash="2384616" _msthash="6"> Remember me </font></label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit" _msttexthash="630383" _msthash="7">Войти</button>
    <p class="mt-5 mb-3 text-muted" _msttexthash="1858961" _msthash="8">© 2017–2021 гг.</p>
  </form>
</main>
        {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-info">
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endwith %}

</div>



</body>
{% endblock  %}