{% extends 'base.html' %}

{% block title %}
Creating
{% endblock %}

{% block body %}
<div class="container mt-5">
  <h1>Update post</h1>
  <form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">
      <label for="title">Post title</label>
      {{ form.title(class="form-control") }}
    </div>
    <div class="form-group">
      <label for="text">Post text</label>
      {{ form.text(class="form-control") }}
    </div>
      <div class="form-group">
        <label for="image">Image</label>
        {{ form.image(class="form-control") }}
    </div>
    <button class="btn btn-success" type="submit">Update</button>
      <a href="{{ url_for('posts') }}" class="btn btn-secondary">Cancel</a>
  </form>
</div>
{% endblock %}
