{% extends 'base.html' %}

{% block title %}
Posts
{% endblock  %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/posts.css') }}">
{% endblock %}

{% block body %}
<div class="container mt-5">
    {% for post in posts %}
  <div class="row">
    <div class="col-12">
      <article class="blog-card">
        <div class="blog-card__background">
          <div class="card__background--wrapper">
              {% if post.image_path %}
                 <img src="{{ post.image_path }}" alt="Post Image" class="card__background--main">
               {% endif %}
              <div class="card__background--layer"></div>
            </div>
          </div>
        <div class="blog-card__head">
          <span class="date__box">
            <span class="date__day">{{ post.date_day }}</span>
            <span class="date__month">{{ post.date_month }}</span>
          </span>
        </div>
        <div class="blog-card__info">
          <h5>{{ post.title }}</h5>
          <p>
            <a href="{{ url_for('user_page', current_user_id=post.user.id) }}" class="icon-link mr-3"><i class="fa fa-pencil-square-o"></i> {{ post.user.name }}</a>
            <a href="#" class="icon-link"><i class="fa fa-comments-o"></i> 150</a>
          </p>
          <p>{{ post.text | truncate(10)}}</p>
          <a href="/posts/{{post.id}}" class="btn btn--with-icon"><i class="btn-icon fa fa-long-arrow-right"></i>READ MORE</a>
        </div>
      </article>
      {% endfor %}
    </div>
  </div>
</div>

<section class="detail-page">
  <div class="container mt-5">

  </div>
</section>
    <script>$(window).on('load',function () {
     var current = location.pathname;
     console.log(current);
     $('#navbarSupportedContent ul li a').each(function(){
         var $this = $(this);
         // if the current path is like this link, make it active
         if($this.attr('href').indexOf(current) !== -1){
             $this.parent().addClass('active');
             $this.parents('.menu-submenu').addClass('show-dropdown');
            $this.parents('.menu-submenu').parent().addClass('active');
         }else{
             $this.parent().removeClass('active');
         }
   })
 });</script>

{% endblock  %}